@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 32 100% 51%;
    /* #ff8906 */
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 32 100% 51%;
    --radius: 0.5rem;

    --surface: 240 4.8% 95.9%;
    /* Light surface */
  }

  .dark {
    --background: 0 0% 9.8%;
    /* #191919 */
    --foreground: 0 0% 98%;
    --card: 0 0% 14.5%;
    /* #252525 */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 14.5%;
    --popover-foreground: 0 0% 98%;
    --primary: 32 100% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    /* #a1a1aa */
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    /* #3f3f46 */
    --input: 240 3.7% 15.9%;
    --ring: 32 100% 51%;

    --surface: 0 0% 14.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.glass-panel {
  backdrop-filter: blur(12px);
}